* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #0c110c; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px; 
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    color: #333;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    margin: 10px 0;
    padding: 10px 15px;
    background: #0c110c; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 330px;
    background-color: #333;
    color: white;
}